# .gitignore

App*Visualization/*
AllComponents/__pycache__/*
__pycache__/*
AllComponents/multimap_for_debugging.py
AllComponents/possible_new_map
AllComponents/possible_new_map.py
cache-directory
AllComponents/intro_sidebar_new.py
AllComponents/__pycache__
worker.py
utils.py
.bash_profile
.bash_profile.save