.legend{
	position: absolute;
	z-index: 10000000000;
	bottom: 30%;
	right: 24%;
	float: right;
	width: 100px;
	height: 350px;
	overflow: scroll;
	/*margin-right:15px;*/
}

.map-example{
	/*position:static;*/
	/*width: 100%;
	height:50%;*/
}