.legend{
	position: absolute;
	z-index: 1;
	top: 15%;
	right: 21%;
	float: right;
	width: 100px;
	height: 350px;
	overflow: scroll;
	/*margin-right:15px;*/
}

.map-example{
	/*position:static;*/
	/*width: 100%;
	height:50%;*/
}