.legend{
	position: absolute;
	z-index: 1;
	margin-top: 15px;
	margin-left:10px;
	float: right;
	width: 100px;
	height: 350px;
	overflow: scroll;
	/*margin-right:15px;*/
}

#point-down{
	position:fixed;
	z-index: 1000000000;
	top:450px;
	left:85px;
	margin-right:10px;
	width: 100px;
	font-size:20px;
	/*height:50%;*/
}



#legs{
	/*margin-top: 10px*/
	margin-left: 4px;
	margin-bottom: 5px;
}

/*#colors{
/*	margin-top:20px;
}*/